extends ../layouts/console.jade

block right-content
  .col-xs-12
    .box
      .box-header
        button.btn.btn-success(data-toggle="modal" data-target="#appModal" @click='editMusic()')
          i.fa.fa-plus
          | &nbsp;新增
        .box-tools
          .input-group.input-group-sm(style='width: 150px;')
            input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
            .input-group-btn
              button.btn.btn-default(type='submit')
                i.fa.fa-search
    ul.timeline
      // timeline item
      li(v-for='history in historys')
        i.fa.fa-envelope.bg-blue
        .timeline-item
          span.time
            i.fa.fa-clock-o
            |  {{ history.createdAt }}
          h3.timeline-header
            | {{ history.name }}
            a.btn.btn-info.btn-xs.pull-right {{ history.progress.name }}
          .timeline-body
            | {{ history.content }}
          .timeline-footer
            a.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#appModal" @click='editHistory(history)') 编辑
            a.btn.btn-danger.btn-xs(@click='deleteHistory(history)') 删除
      li
        i.fa.fa-clock-o.bg-gray

    #appModal.modal.modal-primary
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title 新增历史
          .modal-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label 名称
                .col-sm-6
                  input.form-control(v-model='currentHistory.name')
              .form-group
                label.col-sm-2.control-label 进度
                .col-sm-6
                  select.form-control(v-model='currentHistory.progress.id')
                    option(value='{{progress.id}}' v-for='progress in progresses') {{ progress.name }}
              .form-group
                label.col-sm-2.control-label 记录一下
                .col-sm-6
                  textarea.form-control(v-model='currentHistory.content')
          .modal-footer
            button.btn.btn-outline.pull-left(type='button', data-dismiss='modal') Close
            button.btn.btn-outline(type='button' @click='(currentHistoryType == "add") ? addHistory() : setHistory()') 保存
        // /.modal-content
      // /.modal-dialog
    // /.modal