extends ../layouts/console.jade

block right-content
  .col-xs-12
    .nav-tabs-custom
      ul.nav.nav-tabs
        li.active
          a(href="#music", data-toggle="tab", aria-expanded="false") 音乐列表
        li
          a(href="#progress", data-toggle="tab", aria-expanded="false") 过程管理
       
      .tab-content
        div#music.tab-pane.active
          include ../layouts/pages/musicpractice/music.jade
        div#progress.tab-pane
          include ../layouts/pages/musicpractice/progress.jade

    #appModal.modal.modal-primary
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title 新增Music
          .modal-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label 名称
                .col-sm-6
                  input.form-control(v-model='currentMusic.title')
              .form-group
                img(:src='currentMusic.cover' style='width:100px;height:100px;')
                label.col-sm-2.control-label 封面
                .col-sm-6
                  input.form-control(v-model='currentMusic.cover')
              .form-group
                label.col-sm-2.control-label 网易云音乐id
                .col-sm-6
                  input.form-control(v-model='currentMusic.wyMusicId')
              .form-group
                label.col-sm-2.control-label 进度
                .col-sm-6
                  select.form-control(v-model='currentMusic.progress.id')
                    option(value='{{progress.id}}' v-for='progress in progresses') {{ progress.name }}
              .form-group
                label.col-sm-2.control-label 风格
                .col-sm-6
                  select.form-control(v-model='currentMusic.type_poi_app_types' )
                    option(value='{{type.id}}' v-for='type in app_types') {{ type.name }}
              .form-group
                label.col-sm-2.control-label 描述
                .col-sm-6
                  textarea.form-control(v-model='currentMusic.desc')
          .modal-footer
            button.btn.btn-outline.pull-left(type='button', data-dismiss='modal') Close
            button.btn.btn-outline(type='button' @click='(currentMusicType == "add") ? addMusic() : setMusic()') 保存
        // /.modal-content
      // /.modal-dialog
    // /.modal