.box
  .box-header
    button.btn.btn-success(data-toggle="modal" data-target="#categoryModal" @click='editCategory()')
      i.fa.fa-plus
      | &nbsp;新增
    .box-tools
      .input-group.input-group-sm(style='width: 150px;')
        input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
        .input-group-btn
          button.btn.btn-default(type='submit')
            i.fa.fa-search
  // /.box-header
  .box-body.table-responsive.no-padding
    table.table.table-hover
      thead
        tr
          th #
          th 名称
          th 描述
          th 更新时间
          th 操作
      tbody
        tr(v-for="category in categories")
          td {{ $index + 1}}
          td {{ category.name }}
          td {{ category.desc }}
          td {{ getLocalDate(category.updatedAt) }}
          td
            a(data-toggle="modal" data-target="#categoryModal" @click='editCategory(category)')
              i.fa.fa-edit
            a(@click='deleteCategory(category)')
              i.fa.fa-trash
  // /.box-body
  .box-footer
    .col-xs-5
    .col-xs-7.page-wraper
// /.box
#categoryModal.modal.modal-primary
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title 新增分类
      .modal-body
        div.form-horizontal
          .form-group
            label.col-sm-2.control-label 名称
            .col-sm-6
              input.form-control(v-model='currentCategory.name')
          .form-group
            label.col-sm-2.control-label 描述
            .col-sm-6
              textarea.form-control(v-model='currentCategory.desc')
          .form-group
            label.col-sm-2.control-label 扩展结构
            .col-sm-6
              textarea.form-control(v-model='currentCategory.extend_struct')
      .modal-footer
        button.btn.btn-outline.pull-left(type='button', data-dismiss='modal') Close
        button.btn.btn-outline(type='button' @click='(currentCategoryType == "add") ? addCategory() : setCategory()') 保存
    // /.modal-content
  // /.modal-dialog
// /.modal