extends ../layouts/console.jade

block right-content
  .col-xs-12
    .nav-tabs-custom
      ul.nav.nav-tabs
        li.active
          a(href="#users", data-toggle="tab", aria-expanded="false") 用户管理
        li
          a(href="#command", data-toggle="tab", aria-expanded="false") 命令管理
        li
          a(href="#flow", data-toggle="tab", aria-expanded="true") 流程管理
        li
          a(href="#setting", data-toggle="tab", aria-expanded="true") 配置

      .tab-content
        div#users.tab-pane.active
          .box
            //- .box-header
              //- .box-tools
                //- .input-group.input-group(style='width: 300px;')
                  input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      i.fa.fa-search
            // /.box-header
            .box-body.table-responsive.no-padding
              table.table.table-hover
                tbody
                  tr
                    th #
                    th 名称
                    th 状态
                    th 端口号
                    th 描述
                    th 更新时间
                    th 操作
                  tr
                    td 1
                    td John Doe
                    td
                      span.label.label-success Approved
                    td 3000
                    td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    td 11-7-2014
                    td 
                      i.fa.fa-edit
                      i.fa.fa-trash
                  tr
                    td 2
                    td Alexander Pierce
                    td
                      span.label.label-warning Pending
                    td 3000
                    td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    td 11-7-2014
                    td 
                      i.fa.fa-edit
                      i.fa.fa-trash

                  tr
                    td 3
                    td Bob Doe
                    td
                      span.label.label-primary Approved
                    td 3000
                    td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    td 11-7-2014
                    td 
                      i.fa.fa-edit
                      i.fa.fa-trash
                  tr
                    td 4
                    td Mike Doe
                    td
                      span.label.label-danger Denied
                    td 3000
                    td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                    td 11-7-2014
                    td 
                      i.fa.fa-edit
                      i.fa.fa-trash
            // /.box-body
          // /.box
        div#command.tab-pane
          .box
            .box-header
              button.btn.btn-success(data-toggle="modal" data-target="#myModal" @click='editCommand()') 新增
              .box-tools
                .input-group.input-group(style='width: 300px;')
                  input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      i.fa.fa-search
            // /.box-header
            .box-body.table-responsive.no-padding
              table.table.table-hover
                thead
                  tr
                    th #
                    th 名称
                    th 类型
                    th 描述
                    th 更新时间
                    th 操作
                tbody
                  tr(v-for="command in commands")
                    td {{ $index + 1}}
                    td {{ command.name }}
                    td
                      span.label.label-success {{ command.type }}
                    td {{ command.description }}
                    td {{ command.updatedAt }}
                    td 
                      a(data-toggle="modal" data-target="#myModal" @click='editCommand(command)')
                        i.fa.fa-edit
                      a(@click='deleteCommand(command)')
                        i.fa.fa-trash
            // /.box-body
          // /.box
        div#flow.tab-pane
          | 流程
        div#setting.tab-pane
          div.form-horizontal
            .form-group
              label.col-sm-2.control-label(for='inputName') 管理员OpenID
              .col-sm-6
                input#inputName.form-control(type='text', placeholder='Name', v-model='config.admin_id')
            .form-group
              label.col-sm-2.control-label(for='inputEmail') Email
              .col-sm-6
                input#inputEmail.form-control(type='email', placeholder='Email')
            .form-group
              label.col-sm-2.control-label(for='inputExperience') 欢迎语
              .col-sm-6
                textarea#inputExperience.form-control(placeholder='Experience' v-model='config.welcome')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-success(@click='setConfig()') 修改

  #myModal.modal.modal-primary
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 新增命令
        .modal-body
          div.form-horizontal
            .form-group
              label.col-sm-2.control-label 名称
              .col-sm-6
                input.form-control(v-model='currentCommand.name')
            .form-group
              label.col-sm-2.control-label 类别
              .col-sm-6
                select.form-control(v-model='currentCommand.type')
                  option(value='admin') 管理员
                  option(value='normal') 通用
                  option(value='personal') 个人专属
            .form-group
              label.col-sm-2.control-label 返回类型
              .col-sm-6
                select.form-control(v-model='currentCommand.return_type')
                  option(value='article') 图文
                  option(value='text') 文本
                  option(value='image') 图片
            .form-group
              label.col-sm-2.control-label 返回内容
              .col-sm-6
                input.form-control(type='file')
                input.form-control(v-model='currentCommand.content')
            .form-group
              label.col-sm-2.control-label 描述
              .col-sm-6
                textarea.form-control(v-model='currentCommand.description')
        .modal-footer
          button.btn.btn-outline.pull-left(type='button', data-dismiss='modal') Close
          button.btn.btn-outline(type='button' @click='(currentCommandType == "add") ? addCommand() : setCommand()') 保存
      // /.modal-content
    // /.modal-dialog
  // /.modal