extends ../layouts/console.jade

block right-content
  .col-xs-12
    .nav-tabs-custom
      ul.nav.nav-tabs
        li.active
          a(href="#users", data-toggle="tab", aria-expanded="false") 用户管理
        li
          a(href="#command", data-toggle="tab", aria-expanded="false") 命令管理
        li
          a(href="#flow", data-toggle="tab", aria-expanded="true") 流程管理
        li
          a(href="#setting", data-toggle="tab", aria-expanded="true") 配置

      .tab-content
        div#users.tab-pane.active
          include ../layouts/pages/wechat/users.jade
        div#command.tab-pane
          include ../layouts/pages/wechat/commands.jade
        div#flow.tab-pane
          include ../layouts/pages/wechat/flow.jade
        div#setting.tab-pane
          include ../layouts/pages/wechat/setting.jade
          
  