.box
  .box-header
    button.btn.btn-success(data-toggle="modal" data-target="#appModal" @click='editProgres()')
      i.fa.fa-plus
      | &nbsp;新增
    .box-tools
      .input-group.input-group-sm(style='width: 150px;')
        input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
        .input-group-btn
          button.btn.btn-default(type='submit')
            i.fa.fa-search
  // /.box-header
  .box-body.table-responsive.no-padding
    table.table.table-hover
      thead
        tr
          th #
          th 排序
          th 名称
          th 更新时间
          th 操作
      tbody
        tr(v-for="progress in progresses")
          td {{ $index + 1}}
          td {{ progress.order }}
          td {{ progress.name }}
          td {{ progress.updatedAt }}
          td
            a(data-toggle="modal" data-target="#appModal" @click='editProgress(progress)')
              i.fa.fa-edit
            a(@click='deleteProgress(progress)')
              i.fa.fa-trash
  // /.box-body
// /.box