.box
  //- .box-header
    //- .box-tools
      //- .input-group.input-group(style='width: 300px;')
        input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
        .input-group-btn
          button.btn.btn-default(type='submit')
            i.fa.fa-search
  // /.box-header
  .box-body.table-responsive.no-padding
    table.table.table-hover
      thead
        tr
          th #
          th 头像
          th 昵称
          th OpenID
          th 更新时间
          th 操作
      tbody
        tr(v-for="user in users")
          td {{ $index + 1}}
          td 
            img(src="{{ user.profile_url }}" width='50' height='50')
          td {{ user.nick_name }}
          td {{ user.open_id }}
          td {{ getLocalDate(user.updatedAt) }}
          td 
            i.fa.fa-edit
            i.fa.fa-trash
        
  // /.box-body
// /.box